@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@custom-variant 2xl (@media (max-width: 1650px));
@custom-variant xl (@media (max-width: 1399px));
@custom-variant lg (@media (max-width: 1200px));
@custom-variant md (@media (max-width: 992px));
@custom-variant sm (@media (max-width: 768px));
@custom-variant xs (@media (max-width: 480px));
@custom-variant xxs (@media (max-width: 360px));

body {
    font-family: var(--montserrat);
}

.font-gloock{
    font-family: var(--gloock);
}

button{
    cursor: pointer
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
